<p id="notice"><%= notice %></p>

<p>
  <strong>Phone Number:</strong>
  <%= @account.pon %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @account.pin %>
</p>

<p>
  <strong>4PSA Extn Number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @account.zip_code %>
</p>

<p>
  <strong>Subscriber name:</strong>
  <%= @account.subscriber_name %>
</p>

<p>
  <% @phone.each do |p| %>
    <p> <strong>Phones:</strong> <%= p.phone_number %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
